<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Top - Auth API & Hosted UI</title>
  <script src="/static/common.js"></script>

</head>
<body>
  <div style="padding: 50px 0; display: flex;">
    <!-- ログイン -->
    <div style="margin-left: 20px;">
      <button id="signin_btn">Sign In</button>
    </div>
    <!-- トークンの失効 -->
    <div style="margin-left: 20px;">
      <button id="revoke_token_btn">Revoke Token</button>
    </div>
    <!-- ログアウト -->
    <div style="margin-left: 20px;">
      <button id="signout_btn">Sign Out</button>
    </div>
    <!-- ユーザー情報 -->
    <div style="margin-left: 20px;">
      <button id="user_info_btn">User Info</button>
    </div>
  </div>

  <!-- トークン表示領域 -->
  <div id="result">
    <div style="margin-bottom: 1rem;">
      <table id="token_response" border="1">
        <caption>トークンエンドポイントのレスポンス</caption>
        <tr>
          <th>Key</th>
          <th>Value</th>
        </tr>
      </table>
    </div>

    <div style="margin-bottom: 1rem;">
      <table id="idinfo" border="1">
        <caption>IDトークンのペイロード</caption>
        <tr>
          <th>Key</th>
          <th>Value</th>
        </tr>
      </table>
    </div>
<script>
  /**
   * ログイン
   */
  document.getElementById("signin_btn").addEventListener("click", function() {
    let state = CommonUtils.getRandomString(32)
    let nonce = CommonUtils.getRandomString(32)
    localStorage.setItem("state", state)
    localStorage.setItem("nonce", nonce)
  
    // 認可エンドポイント | AWS
    // https://docs.aws.amazon.com/cognito/latest/developerguide/authorization-endpoint.html
    let url = "{{ cognito_domain }}/oauth2/authorize"
    let query = {
      "response_type": "code",
      "client_id": "{{ client_id }}",
      "scope": "openid email profile aws.cognito.signin.user.admin",  // NOTE: aws.cognito.signin.user.admin は GlobalSignOut に必要
      "redirect_uri": "http://localhost:8000/code",
      "state": state,
      "nonce": nonce,
      "code_challenge": "{{ code_challenge }}",
      "code_challenge_method": "S256",
    }
    let query_str = Object.entries(query).map(([k, v]) => `${k}=${encodeURIComponent(v)}`).join("&")
    let auth_url = `${url}?${query_str}`
    console.log("Authorization Endpoint URL: ", auth_url)
    location.href = auth_url
  })

  /**
   * トークンの取り消し
   */
  document.getElementById("revoke_token_btn").addEventListener("click", async function() {
    if (!confirm("本当にトークンを失効させますか？")) return

    try {
      let token_response = JSON.parse(localStorage.getItem("token_response"))
      let res = await fetch("/api/revoke", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({
            "refresh_token": token_response.refresh_token,
          })
        })

      if (!res.ok) {
        let msg =`${res.status} ${res.statusText}: revoke failed. ${data.detail}`
        alert(msg);
        throw new Error(msg);
      }

      localStorage.removeItem("idinfo")
      localStorage.removeItem("token_response")
      location.reload()
    } catch (e) {
      console.error(e)
      alert(`${e}`)
    }
  })

  /**
   * ログアウト
   */
  document.getElementById("signout_btn").addEventListener("click", async function() {
    if (!confirm("本当にサインアウトしますか？")) return

    try {
      let token_response = JSON.parse(localStorage.getItem("token_response"))
      let res = await fetch("/api/signout", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({
            "access_token": token_response.access_token,
          })
        })

      if (!res.ok) {
        let msg = `${res.status} ${res.statusText}: revoke failed. ${data.detail}`
        throw new Error(msg);
      }

      localStorage.removeItem("idinfo")
      localStorage.removeItem("token_response")
      location.reload()
    } catch (e) {
      console.error(e)
      alert(`${e}`)
    }
  })

  /**
   * ユーザー情報
   */
  document.getElementById("user_info_btn").addEventListener("click", async function() {
    try {
      let token_response = JSON.parse(localStorage.getItem("token_response"))

      // UserInfoエンドポイント | AWS
      // https://docs.aws.amazon.com/cognito/latest/developerguide/userinfo-endpoint.html
      let url = "{{ cognito_domain }}/oauth2/userInfo"
      let res = await fetch(url, {
          method: "GET",
          headers: {
            "Authorization": `Bearer ${token_response.access_token}`,
            "Content-Type": "application/x-amz-json-1.1",
          }
        })

      if (!res.ok) {
        let msg = `${res.status} ${res.statusText}: failed to fetch userInfo. ${data.detail}`;
        throw new Error(msg);
      }

      let userinfo = await res.json()
      alert(JSON.stringify(userinfo, null, 2))
    } catch (e) {
      console.error(e)
      alert(`${e}`)
    }
  })

  /**
   * トークンの表示
   */
  document.addEventListener("DOMContentLoaded", async function() {
    CommonUtils.displayIdToken(["token_response", "idinfo"])
  })
</script>
<style>
  table td {
    word-break:break-all
  }
  </style>
</body>
</html>